<h1>Task Details</h1>

<p><strong>Name:</strong> <%= @task.name %></p>
<p><strong>Description:</strong> <%= @task.description %></p>
<p><strong>Start Time:</strong> <%= @task.time_start&.strftime("%H:%M") || "N/A" %></p>
<p><strong>End Time:</strong> <%= @task.time_end&.strftime("%H:%M") || "N/A" %></p>
<p><strong>Completed:</strong> <%= @task.completed ? 'Yes' : 'No' %></p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Delete', @task, method: :delete, data: { confirm: 'Are you sure you want to delete this task?' } %> |
<%= link_to 'Done', tasks_path %>